# Arquivos de usuário do Visual Studio
*.user
*.suo

# Arquivos de build (compilação)
[Bb]in/
[Oo]bj/
*.pdb
*.dll

# Arquivos de configurações locais com credenciais (IMPORTANTE!)
appsettings*.Development.json

# Ignorar a pasta completa de soluções do Visual Studio (o .vs)
.vs/

# Ignorar pacotes NuGet
*.nupkg

appsettings.Local.json